<div mat-dialog-title>Add new test</div>

<mat-dialog-content>
    <mat-stepper #stepper linear [style.min-height.px]="386" [orientation]="(stepperOrientation$ | async)!">
        <mat-step [stepControl]="testInfoStepFormGroup">
            <ng-template matStepLabel>Test info</ng-template>

            <form class="grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="testInfoStepFormGroup">
                <mat-form-field appearance="standard">
                    <mat-label>Test name</mat-label>
                    <input matInput formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Type</mat-label>
                    <mat-select required formControlName="type">
                        <mat-option *ngFor="let testType of testTypes" [value]="testType.value">
                            {{ testType.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="location" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Status</mat-label>
                    <mat-select required formControlName="status">
                        <mat-option *ngFor="let testStatus of testStatuses" [value]="testStatus.value">
                            {{ testStatus.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-step>

        <mat-step [stepControl]="ameInfoStepFormGroup">
            <ng-template matStepLabel>AME</ng-template>

            <form class="grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="ameInfoStepFormGroup">
                <mat-form-field appearance="standard">
                    <mat-label>Ame name</mat-label>
                    <input matInput formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Type</mat-label>
                    <input matInput formControlName="type" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Family</mat-label>
                    <mat-select required formControlName="family">
                        <mat-option *ngFor="let ameFamily of ameFamilies" [value]="ameFamily.value">
                            {{ ameFamily.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Manufacturer</mat-label>
                    <mat-select required formControlName="manufacturer">
                        <mat-option [value]="createNewManufacturerId">Create new</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Upload TTC</mat-label>
                    <input
                        matInput
                        required
                        formControlName="ttc_file"
                        readonly
                        [value]="ameInfoStepFormGroup.get('ttc_file')?.value?.name"
                    />
                    <input
                        #fileUpload
                        class="hidden"
                        type="file"
                        (change)="ameInfoStepFormGroup.get('ttc_file')?.setValue($any($event.target).files[0])"
                    />

                    <button mat-icon-button color="primary" matSuffix (click)="fileUpload.click()">
                        <mat-icon>upload</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </mat-step>

        <mat-step [stepControl]="manufacturerInfoStepFormGroup">
            <ng-template matStepLabel>Manufacturer</ng-template>

            <form class="grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="manufacturerInfoStepFormGroup">
                <mat-form-field appearance="standard">
                    <mat-label>Manufacturer name</mat-label>
                    <input matInput formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Chief</mat-label>
                    <input matInput formControlName="chief" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Contract</mat-label>
                    <input matInput formControlName="contract" required />
                </mat-form-field>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Summary</ng-template>
            <div *ngIf="testInfoStepFormGroup.value as value" class="grid grid-cols-2 mb-3">
                <ng-container
                    *ngTemplateOutlet="info; context: { label: 'Test name', value: value.name }"
                ></ng-container>
                <ng-container *ngTemplateOutlet="info; context: { label: 'Type', value: value.type }"></ng-container>
                <ng-container
                    *ngTemplateOutlet="info; context: { label: 'Location', value: value.location }"
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="info; context: { label: 'Status', value: value.status }"
                ></ng-container>
            </div>

            <mat-divider></mat-divider>

            <div *ngIf="ameInfoStepFormGroup.value as value" class="grid grid-cols-2 mt-3 mb-3">
                <ng-container *ngTemplateOutlet="info; context: { label: 'Ame name', value: value.name }">
                </ng-container>
                <ng-container *ngTemplateOutlet="info; context: { label: 'Family', value: value.family }">
                </ng-container>
                <ng-container *ngTemplateOutlet="info; context: { label: 'Type', value: value.type }"></ng-container>
                <ng-container *ngTemplateOutlet="info; context: { label: 'TTC file', value: value.ttc_file?.name }">
                </ng-container>
            </div>

            <mat-divider></mat-divider>

            <div *ngIf="manufacturerInfoStepFormGroup.value as value" class="grid grid-cols-2 mt-3">
                <ng-container *ngTemplateOutlet="info; context: { label: 'Manufacturer name', value: value.name }">
                </ng-container>
                <ng-container *ngTemplateOutlet="info; context: { label: 'Address', value: value.address }">
                </ng-container>
                <ng-container *ngTemplateOutlet="info; context: { label: 'Chief', value: value.chief }"></ng-container>
                <ng-container *ngTemplateOutlet="info; context: { label: 'Contract', value: value.contract }">
                </ng-container>
            </div>

            <ng-template #info let-label="label" let-value="value">
                <div class="font-bold text-right">{{ label }}:</div>
                <div class="text-left">{{ value }}</div>
            </ng-template>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions class="flex">
    <button mat-button color="primary" (click)="closeWithoutSave()">Cancel</button>
    <span class="flex-1"></span>
    <button *ngIf="stepper.selectedIndex !== 0" mat-button color="primary" (click)="stepper.previous()">Back</button>

    <button
        *ngIf="stepper.selectedIndex + 1 !== stepper.steps?.length"
        mat-raised-button
        color="primary"
        (click)="stepper.next()"
    >
        Next
    </button>

    <button
        *ngIf="stepper.selectedIndex + 1 === stepper.steps?.length"
        mat-raised-button
        color="primary"
        (click)="onSave()"
    >
        Save
    </button>
</mat-dialog-actions>
