<div mat-dialog-title>Додати нове випробування</div>

<mat-dialog-content>
    <mat-stepper #stepper linear [style.min-height.px]="386" [orientation]="(stepperOrientation$ | async)!">
        <mat-step [stepControl]="testInfoStepFormGroup">
            <ng-template matStepLabel>Інформація про випробування</ng-template>

            <form class="grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="testInfoStepFormGroup">
                <mat-form-field appearance="standard">
                    <mat-label>Назва випробування</mat-label>
                    <input id="test-name" matInput formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Тип</mat-label>
                    <mat-select id="test-type" required formControlName="type">
                        <mat-option *ngFor="let testType of testTypes" [value]="testType">
                            {{ getTestType(testType) }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Місцезнаходження</mat-label>
                    <input id="test-location" matInput formControlName="location" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Статус</mat-label>
                    <mat-select id="test-status" required formControlName="status">
                        <mat-option *ngFor="let testStatus of testStatuses" [value]="testStatus">
                            {{ getTestStatus(testStatus) }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Дата затвердження</mat-label>
                    <input
                        id="test-date-of-approval"
                        matInput
                        formControlName="date_of_approval"
                        [matDatepicker]="datepicker"
                    />
                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Відміна</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Вибрати</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </form>
        </mat-step>

        <mat-step [stepControl]="ameInfoStepFormGroup">
            <ng-template matStepLabel>ОВТ</ng-template>

            <form class="grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="ameInfoStepFormGroup">
                <mat-form-field appearance="standard">
                    <mat-label>Назва ОВТ</mat-label>
                    <input id="ame-name" matInput formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Тип</mat-label>
                    <input id="ame-type" matInput formControlName="type" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Рід</mat-label>
                    <mat-select id="ame-family" required formControlName="family">
                        <mat-option *ngFor="let ameFamily of ameFamilies" [value]="ameFamily">
                            {{ getAmeFamily(ameFamily) }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Manufacturer</mat-label>
                    <mat-select id="ame-manufacturer" required formControlName="manufacturer">
                        <mat-option [value]="createNewManufacturerId">Додати нового</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Файл з ТТХ</mat-label>
                    <input
                        id="ame-upload-ttc"
                        matInput
                        required
                        formControlName="ttc_file"
                        readonly
                        [value]="ameInfoStepFormGroup.get('ttc_file')?.value?.name"
                    />
                    <input
                        #fileUpload
                        class="hidden"
                        type="file"
                        (change)="ameInfoStepFormGroup.get('ttc_file')?.setValue($any($event.target).files[0])"
                    />

                    <button
                        id="ame-upload-ttc-button"
                        mat-icon-button
                        color="primary"
                        matSuffix
                        (click)="fileUpload.click()"
                    >
                        <mat-icon>upload</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </mat-step>

        <mat-step [stepControl]="manufacturerInfoStepFormGroup">
            <ng-template matStepLabel>Вибробник</ng-template>

            <form class="grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="manufacturerInfoStepFormGroup">
                <mat-form-field appearance="standard">
                    <mat-label>Назва вибробника</mat-label>
                    <input id="manufacturer-name" matInput formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Адреса</mat-label>
                    <input id="manufacturer-address" matInput formControlName="address" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Керівник</mat-label>
                    <input id="manufacturer-chief" matInput formControlName="chief" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Контакт</mat-label>
                    <input id="manufacturer-contact" matInput formControlName="contact" required />
                </mat-form-field>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Огляд</ng-template>
            <div *ngIf="testInfoStepFormGroup.value as value" class="grid grid-cols-2 mb-3">
                <ng-container
                    *ngTemplateOutlet="info; context: { label: 'Назва тесту', value: value.name }"
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="info; context: { label: 'Тип', value: getTestType(value.type) }"
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="info; context: { label: 'Місцезнаходження', value: value.location }"
                ></ng-container>
                <ng-container
                    *ngTemplateOutlet="info; context: { label: 'Статус', value: getTestStatus(value.status) }"
                ></ng-container>
            </div>

            <mat-divider></mat-divider>

            <div *ngIf="ameInfoStepFormGroup.value as value" class="grid grid-cols-2 mt-3 mb-3">
                <ng-container *ngTemplateOutlet="info; context: { label: 'Назва ОВТ', value: value.name }">
                </ng-container>
                <ng-container *ngTemplateOutlet="info; context: { label: 'Рід', value: getAmeFamily(value.family) }">
                </ng-container>
                <ng-container *ngTemplateOutlet="info; context: { label: 'Тип', value: value.type }"></ng-container>
                <ng-container *ngTemplateOutlet="info; context: { label: 'Файл з ТТХ', value: value.ttc_file?.name }">
                </ng-container>
            </div>

            <mat-divider></mat-divider>

            <div *ngIf="manufacturerInfoStepFormGroup.value as value" class="grid grid-cols-2 mt-3">
                <ng-container *ngTemplateOutlet="info; context: { label: 'Назва вибробника', value: value.name }">
                </ng-container>
                <ng-container *ngTemplateOutlet="info; context: { label: 'Адреса', value: value.address }">
                </ng-container>
                <ng-container
                    *ngTemplateOutlet="info; context: { label: 'Керівник', value: value.chief }"
                ></ng-container>
                <ng-container *ngTemplateOutlet="info; context: { label: 'Контакт', value: value.contact }">
                </ng-container>
            </div>

            <ng-template #info let-label="label" let-value="value">
                <div class="font-bold text-right">{{ label }}:</div>
                <div class="text-left">{{ value }}</div>
            </ng-template>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions class="flex">
    <button id="add-test-cancel-button" mat-button color="primary" (click)="closeWithoutSave()">Відміна</button>
    <span class="flex-1"></span>
    <button
        *ngIf="stepper.selectedIndex !== 0"
        id="add-test-back-button"
        mat-button
        color="primary"
        (click)="stepper.previous()"
    >
        Назад
    </button>

    <button
        *ngIf="stepper.selectedIndex + 1 !== stepper.steps?.length"
        id="add-test-next-button"
        mat-raised-button
        color="primary"
        (click)="stepper.next()"
    >
        Далі
    </button>

    <button
        *ngIf="stepper.selectedIndex + 1 === stepper.steps?.length"
        id="add-test-save-button"
        mat-raised-button
        color="primary"
        (click)="onSave()"
    >
        Зберегти
    </button>
</mat-dialog-actions>
