@use '~@angular/material' as mat;
@use '../theme';

:host {
    .sidenav-text-shown {
        width: 325px;
    }

    mat-toolbar {
        background-color: #fff;
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
        height: unset;
    }

    .mat-toolbar-multiple-rows {
        flex-direction: row;
        min-height: unset;
    }

    mat-toolbar-row {
        max-width: 1920px;
    }

    ::ng-deep {
        .mat-drawer-inner-container {
            overflow: hidden;
        }

        .mat-drawer-content {
            margin-left: 72px;
        }

        .mat-drawer-container {
            background-color: inherit;
        }

        mat-sidenav {
            background: transparent;
            position: fixed;
        }

        .mat-drawer {
            &:not(.mat-drawer-side) {
                box-shadow: none;
            }
        }

        mat-nav-list {
            a {
                &.mat-list-item {
                    &::before {
                        background: mat.get-color-from-palette(theme.$procyon-background, card);
                        bottom: 0;
                        content: '';
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: -1;
                    }

                    &.is-active {
                        background: mat.get-color-from-palette(theme.$procyon-primary, 0.1);
                        // stylelint-disable-next-line declaration-no-important
                        color: mat.get-color-from-palette(theme.$procyon-primary) !important;
                    }
                }
            }
        }
    }
}

// stylelint-disable scss/selector-nest-combinators
.mat-list-option,
.mat-nav-list .mat-list-item,
.mat-action-list .mat-list-item {
    color: mat.get-color-from-palette(theme.$procyon-foreground, secondary-text);
}

.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
    background: mat.get-color-from-palette(theme.$procyon-primary, 0.1);
    color: mat.get-color-from-palette(theme.$procyon-primary);
}

mat-sidenav-container {
    margin: 0 auto;
    max-width: 1920px;
}
