version: '3.2'

services:

  procyondb:
    image: postgres:12.5-alpine
    restart: always
    env_file:
      - ./etc/postgres/env/.dev.env
    networks:
      - procyon-network
    ports:
      - 5435:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data/

  adminer:
    image: adminer
    restart: always
    ports:
      - 8085:8080
    networks:
      - procyon-network

  migrator:
    build:
      dockerfile: ./etc/migrator/Dockerfile
      context: .
    env_file:
      - ./etc/postgres/env/.dev.env
    environment:
      - MASTER_CHANGELOG=./migrations/master.yaml
    restart: 'no'
    links:
      - procyondb
    networks:
      - procyon-network
    volumes:
      - ./etc/migrator/migrations:/app/migrations

volumes:
  postgres-data:

networks:
  procyon-network:
    external:
      name: procyon-network
