<div mat-dialog-title>Add new test</div>

<mat-dialog-content>
    <mat-stepper
        #stepper
        [style.min-height.px]="355"
        [orientation]="(stepperOrientation$ | async)!"
        [selectedIndex]="3"
    >
        <mat-step [stepControl]="testInfoStepFormGroup">
            <ng-template matStepLabel>Test info</ng-template>

            <form class="grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="testInfoStepFormGroup">
                <mat-form-field appearance="standard">
                    <mat-label>Test name</mat-label>
                    <input matInput formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Type</mat-label>
                    <mat-select required formControlName="type">
                        <mat-option *ngFor="let testType of testTypes" [value]="testType.value">
                            {{ testType.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="location" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Status</mat-label>
                    <mat-select required formControlName="status">
                        <mat-option *ngFor="let testStatus of testStatuses" [value]="testStatus.value">
                            {{ testStatus.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-step>

        <mat-step [stepControl]="ameInfoStepFormGroup">
            <ng-template matStepLabel>AME</ng-template>

            <form class="grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="ameInfoStepFormGroup">
                <mat-form-field appearance="standard">
                    <mat-label>Ame name</mat-label>
                    <input matInput formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Type</mat-label>
                    <input matInput formControlName="type" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Family</mat-label>
                    <mat-select required formControlName="family">
                        <mat-option *ngFor="let ameFamily of ameFamilies" [value]="ameFamily.value">
                            {{ ameFamily.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Manufacturer</mat-label>
                    <mat-select required formControlName="manufacturer">
                        <mat-option [value]="createNewManufacturerId">Create new</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Upload TTC</mat-label>
                    <input
                        matInput
                        required
                        formControlName="ttc_file"
                        readonly
                        [value]="ameInfoStepFormGroup.get('ttc_file')?.value?.name"
                    />
                    <input
                        #fileUpload
                        class="hidden"
                        type="file"
                        (change)="ameInfoStepFormGroup.get('ttc_file')?.setValue($any($event.target).files[0])"
                    />

                    <button mat-icon-button color="primary" matSuffix (click)="fileUpload.click()">
                        <mat-icon>upload</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </mat-step>

        <mat-step [stepControl]="manufacturerInfoStepFormGroup">
            <ng-template matStepLabel>Manufacturer</ng-template>

            <form class="grid grid-cols-1 md:grid-cols-2 gap-4" [formGroup]="manufacturerInfoStepFormGroup">
                <mat-form-field appearance="standard">
                    <mat-label>Manufacturer name</mat-label>
                    <input matInput formControlName="name" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Chief</mat-label>
                    <input matInput formControlName="chief" required />
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Contract</mat-label>
                    <input matInput formControlName="contract" required />
                </mat-form-field>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Summary</ng-template>
            <div class="grid grid-cols-2">
                <div class="font-bold text-right">Test name:</div>
                <div class="text-left">{{ testInfoStepFormGroup.get('name')?.value }}</div>
                <div class="font-bold text-right">Type:</div>
                <div class="text-left">{{ testInfoStepFormGroup.get('type')?.value }}</div>
                <div class="font-bold text-right">Location:</div>
                <div class="text-left">{{ testInfoStepFormGroup.get('location')?.value }}</div>
                <div class="font-bold text-right">Status:</div>
                <div class="text-left">{{ testInfoStepFormGroup.get('status')?.value }}</div>
            </div>

            <mat-divider class="mb-2"></mat-divider>

            <div class="grid grid-cols-2">
                <div class="font-bold text-right">Ame name:</div>
                <div class="text-left">{{ ameInfoStepFormGroup.get('name')?.value }}</div>
                <div class="font-bold text-right">Type:</div>
                <div class="text-left">{{ ameInfoStepFormGroup.get('family')?.value }}</div>
                <div class="font-bold text-right">Location:</div>
                <div class="text-left">{{ ameInfoStepFormGroup.get('type')?.value }}</div>
                <div class="font-bold text-right">Status:</div>
                <div class="text-left">{{ ameInfoStepFormGroup.get('ttc_file')?.value }}</div>
            </div>

            <mat-divider class="mb-2"></mat-divider>

            <div class="grid grid-cols-2">
                <div class="font-bold text-right">Manufacturer name:</div>
                <div class="text-left">{{ manufacturerInfoStepFormGroup.get('name')?.value }}</div>
                <div class="font-bold text-right">Type:</div>
                <div class="text-left">{{ manufacturerInfoStepFormGroup.get('address')?.value }}</div>
                <div class="font-bold text-right">Location:</div>
                <div class="text-left">{{ manufacturerInfoStepFormGroup.get('chief')?.value }}</div>
                <div class="font-bold text-right">Status:</div>
                <div class="text-left">{{ manufacturerInfoStepFormGroup.get('contract')?.value }}</div>
            </div>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions class="flex">
    <button mat-button color="primary" (click)="closeWithoutSave()">Cancel</button>
    <span class="flex-1"></span>
    <button *ngIf="stepper.selectedIndex !== 0" mat-button color="primary" (click)="stepper.previous()">Back</button>

    <button
        *ngIf="stepper.selectedIndex + 1 !== stepper.steps?.length"
        mat-raised-button
        color="primary"
        (click)="stepper.next()"
    >
        Next
    </button>

    <button *ngIf="stepper.selectedIndex + 1 === stepper.steps?.length" mat-raised-button color="primary">Save</button>
</mat-dialog-actions>
