<mat-toolbar class="table-control-panel mb-0">
    <mat-toolbar-row class="flex">
        <div class="text-2xl">{{ title }}</div>
        <button *ngIf="canAddDocument" mat-icon-button color="primary" (click)="addDocument()">
            <mat-icon>add</mat-icon>
        </button>
        <div class="flex-1"></div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-accordion multi displayMode="flat">
    <procyon-document-item
        *ngFor="let document of documents"
        [title]="getDocumentTitleByName(document)"
        [document]="document"
        (onDocumentDownLoad)="downloadDocument(document)"
        (onDocumentEdit)="editDocument(document)"
        (onDocumentRemove)="removeDocument(document)"
        (onDocumentStatusChanged)="documentStatusChanged(document, $event)"
    >
    </procyon-document-item>
</mat-accordion>
