<mat-toolbar class="table-control-panel mb-4">
    <mat-toolbar-row class="flex">
        <div class="text-4xl">Test information</div>
        <div class="flex-1"></div>
        <div
            *ngIf="testForm.get('status')?.value as status"
            class="rounded-full py-1 px-2 shadow-lg"
            [ngClass]="{
                'bg-yellow-500': ['preparation', 'testing', 'continued'].includes(status),
                'bg-red-500': ['paused'].includes(status),
                'bg-green-500': ['finished'].includes(status),
                'text-white': ['finished'].includes(status)
            }"
        >
            {{ testForm.get('status')?.value }}
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="mat-elevation-z0 border my-3">
    <mat-card-content class="flex flex-row">
        <div class="flex">
            <span class="flex-1"></span>
            <button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>
        </div>

        <div class="border-t my-3"></div>

        <div class="flex flex-col">
            <ng-container *ngTemplateOutlet="info; context: { field: 'name' }"></ng-container>
            <div class="border-t my-3"></div>
            <ng-container *ngTemplateOutlet="info; context: { field: 'type' }"></ng-container>
            <div class="border-t my-3"></div>
            <ng-container *ngTemplateOutlet="info; context: { field: 'location' }"></ng-container>

            <ng-template #info let-field="field">
                <div class="flex flex-row">
                    <div class="w-32 font-semibold text-black text-opacity-60">{{ field | titlecase }}</div>
                    <div class="text-left">{{ testForm.get(field)?.value }}</div>
                </div>
            </ng-template>
            <div *ngIf="testForm.get('status')?.value as status">
                <button *ngIf="status === 'preparation'" mat-button [color]="'primary'">Start testing</button>
                <button *ngIf="status === 'testing'" mat-button [color]="'primary'">Start testing</button>
                <button *ngIf="status === 'paused'" mat-button [color]="'primary'">Start testing</button>
                <button *ngIf="status === 'continued'" mat-button [color]="'primary'">Finish</button>

                <button *ngIf="status !== 'finished' && status !== 'paused'" mat-button [color]="'primary'">
                    Pause testing
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<procyon-documents-panel
    [title]="'Documents'"
    [documents]="[
        {
            name: 'document-order-for-test.doc',
            type: 'order',
            status: 'approved',
            government: 'Danielius Hackett',
            date_of_approval: '11-11-2021',
            material_and_technical_means: '',
            file_index: '12616-1621-6-126-12-216'
        },
        {
            name: 'separate-order-test-124.doc',
            type: 'separate_order',
            status: 'developing',
            government: 'Justin Fox',
            date_of_approval: '',
            material_and_technical_means: '',
            file_index: '12616-1621-6-126-12-216'
        },
        {
            name: '',
            type: 'joint_decision',
            status: 'developing',
            government: '',
            date_of_approval: '',
            material_and_technical_means: '',
            file_index: ''
        }
    ]"
>
</procyon-documents-panel>

<procyon-documents-panel
    [title]="'Documents'"
    [documents]="[
        {
            name: 'program-for-test.pdf',
            type: 'program',
            status: 'approving',
            government: 'Mali Mercado',
            date_of_approval: '',
            material_and_technical_means: '',
            file_index: '12616-1621-6-126-12-216'
        }
    ]"
>
</procyon-documents-panel>

<procyon-documents-panel
    [title]="'Documents'"
    [documents]="[
        {
            name: 'method-for-testing-1.doc',
            type: 'method',
            status: 'approved',
            government: 'Kairon Joyner',
            date_of_approval: '12-11-2021',
            material_and_technical_means: '',
            file_index: '12616-1621-6-126-12-216'
        },
        {
            name: 'method-for-testing-3.doc',
            type: 'method',
            status: 'approving',
            government: 'Milosz Dickens',
            date_of_approval: '',
            material_and_technical_means: '',
            file_index: '12616-1621-6-126-12-216'
        },
        {
            name: '',
            type: 'method',
            status: 'developing',
            government: '',
            date_of_approval: '',
            material_and_technical_means: '',
            file_index: ''
        }
    ]"
>
</procyon-documents-panel>
