<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title class="self-center">{{ title }}</mat-panel-title>
        <mat-panel-description>
            <span class="flex-1"></span>
            <div
                *ngIf="document.status || 'developing' as testStatus"
                class="rounded-full my-1 py-1 px-2 font-medium"
                [ngClass]="{
                    'bg-gray-200': ['developing'].includes(testStatus),
                    'bg-yellow-300': ['approving'].includes(testStatus),
                    'bg-green-400': ['approved'].includes(testStatus),
                    'text-white': ['approved'].includes(testStatus)
                }"
                (click.stop)="(null)"
            >
                {{ getDocumentStatus(testStatus) }}
                <span *ngIf="document.date_of_approval">/ {{ document.date_of_approval | date: 'shortDate' }}</span>
            </div>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="flex flex-col">
        <div class="flex flex-col md:flex-row gap-4 md:items-baseline">
            <mat-form-field class="flex-1" appearance="standard">
                <mat-label>Орган</mat-label>
                <input matInput readonly [value]="getGovernment(document.government)" />
            </mat-form-field>

            <div
                class="flex-1 text-blue-700 flex cursor-pointer align-start 2xl:self-center"
                (click)="downloadDocument()"
            >
                <mat-icon>file_present</mat-icon>
                <span class="font-bold self-center">{{ document.name }}</span>
            </div>

            <div class="flex-1"></div>

            <div class="flex md:flex-row flex-col gap-4">
                <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editDocument()">Редагувати</button>
                    <button
                        *ngIf="document.status !== 'approving'"
                        mat-menu-item
                        [disabled]="!document.name || !document.government"
                        (click)="changeDocumentStatus('approving')"
                    >
                        Почати погодження
                    </button>
                    <button
                        *ngIf="document.status !== 'developing'"
                        mat-menu-item
                        [disabled]="!document.name || !document.government"
                        (click)="changeDocumentStatus('developing')"
                    >
                        Для доопрацювання
                    </button>
                    <button
                        *ngIf="document.status !== 'approved'"
                        mat-menu-item
                        [disabled]="!document.name || !document.government"
                        (click)="changeDocumentStatus('approved')"
                    >
                        Затвердити
                    </button>
                    <button mat-menu-item (click)="removeDocument()">Видалити</button>
                </mat-menu>
            </div>
        </div>

        <mat-form-field *ngIf="document.material_and_technical_means" appearance="standard">
            <mat-label>Матеріально-технічні засоби</mat-label>
            <textarea cdkTextareaAutosize matInput readonly [value]="document.material_and_technical_means"></textarea>
        </mat-form-field>
    </div>
</mat-expansion-panel>
