@use '~@angular/material' as mat;
@use 'theme';
@use 'sass:map';

@include mat.core(theme.$procyon-theme);
@include mat.all-component-themes(theme.$procyon-theme);
@include mat.typography-hierarchy(theme.$procyon-theme);

@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

.procyon-primary-color {
    color: theme.$base-color;
}

// You can add global styles to this file, and also import other style files
html,
body {
    height: 100%;
}

body {
    font-family: '#{theme.$procyon-base-font}', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.table-control-panel {
    background: mat.get-color-from-palette(theme.$procyon-background, card);

    button {
        margin: 16px 8px;
    }
}
