// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$procyon-primary: mat.define-palette(mat.$indigo-palette);
$procyon-accent: mat.define-palette(mat.$pink-palette, a200, a100, a400);
// The warn palette is optional (defaults to red).
$procyon-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$procyon-theme: mat.define-light-theme(
    (
        color: (
            primary: $procyon-primary,
            accent: $procyon-accent,
            warn: $procyon-warn
        )
    )
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($procyon-theme);

// You can add global styles to this file, and also import other style files
html,
body {
    height: 100%;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
}
