<mat-toolbar class="table-control-panel">
    <mat-toolbar-row>
        <button color="primary" mat-raised-button (click)="openAddTestDialog()">Додати</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card>
    <mat-card-content>
        <table *ngIf="dataSource$ | async as dataSource" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Назва випробування</th>
                <td *matCellDef="let data" mat-cell>
                    <a class="procyon-primary-color" [routerLink]="data.id">{{ data.name }}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="ame">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Зразок ОВТ</th>
                <td *matCellDef="let data" mat-cell>
                    <a class="procyon-primary-color" [routerLink]="['/ames', data.ame.id]">{{ data.ame.name }}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Тип</th>
                <td *matCellDef="let data" mat-cell>{{ getTestType(data.type) }}</td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Місцезнаходження</th>
                <td *matCellDef="let data" mat-cell>{{ data.location }}</td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Дата затвердження</th>
                <td *matCellDef="let data" mat-cell>{{ data.date_of_approval | date: 'shortDate' }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>Статус</th>
                <td *matCellDef="let data" mat-cell>{{ getTestStatus(data.status) }}</td>
            </ng-container>

            <tr *matHeaderRowDef="['name', 'ame', 'type', 'location', 'date', 'status']" mat-header-row></tr>
            <tr *matRowDef="let row; columns: ['name', 'ame', 'type', 'location', 'date', 'status']" mat-row></tr>
        </table>
    </mat-card-content>
</mat-card>
